body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 1.5rem;
}

a {
    color: aliceblue;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: #1c928b;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.2rem 2rem;
    align-items: center;
}

.menu {
    position: relative;
    display: flex;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu ul li{
    background-color: #1c928b;
    display: flex;
}

.menu ul li a{
    display: block;
}

.menu ul{
    position: absolute;
    visibility: hidden;
}

.menu a:hover {
    background-color: #f4f4f4;
    color: #555;
}

.menu li:hover ul{
    visibility: visible;
}
  

/*CSS FLEXBOX*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
}